{% extends 'GestionPassBundle::layout.html.twig' %}

{% block stylesheets%}
{{ parent() }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
 <script>

 {# function affiche_nbr_lignes()
{var nbr_lignes = document.getElementById('anomalie-table').rows.length;
return nbr_lignes;
} #}
{# 
    window.onload = function(){
    //document.getElementById("icii").innerHTMl = affiche_nbr_lignes() +"lignes";
  
    var nombre_lignes_facilitation = document.getElementById("facilitation-table").getElementsByTagName("TR").length -1;
    var nombre_lignes_anomalie = document.getElementById("anomalie-table").getElementsByTagName("TR").length -1;
    var nombre_lignes_fluidite = document.getElementById("fluidite-table").getElementsByTagName("TR").length -1;
    var nombre_anomalies= nombre_lignes_facilitation + nombre_lignes_anomalie + nombre_lignes_fluidite;

	document.getElementById("icii").innerHTML = nombre_anomalies;
    };#}
</script>
 
{% endblock %}

{% block entete %}

{% endblock %}
{% block notification %}
   {{ parent() }}
{% endblock %}     
    {% block tables %}
    <h3>Anomalies</h3>
                {{ render(controller('GestionPassBundle:Anomalie:anomaliesEncours')) }}

    <h3>Facilitations</h3>
                {{ render(controller('GestionPassBundle:Facilitation:facilitationsEncours')) }}

    <h3>Fluidités</h3>
            {{ render(controller('GestionPassBundle:Fluidite:fluiditesEncours')) }}

    {% endblock %}
