{% block formulaire%}

<div class="row">
<div class="col-lg-6">
<div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-edit"></i> Fluidité </h3>
  </div>
              <div class="panel-body">
    <form  role="form" action= "{{ path('fluidite_create') }} " method="post"  {{ form_enctype(form) }} >
        <div class="error form-group">{{ form_errors(form) }}
        </div>
        <div class="form-group">
            <label>{{ form_label(form.typeFluidite) }}</label>
{{ form_errors(form.typeFluidite) }}
{{ form_widget(form.typeFluidite,{
                        'id' :'typeFluidite', 
'attr': {
                         'class' : 'form-control',
                },
                }) }}
            </div>       
    <div class="form-group">

            <label>  {{ form_label(form.service) }}</label>
                        {{ form_errors(form.service) }}
                        {{ form_widget(form.service,{
                        'id' :'service', 
'attr': {
                         'class' : 'form-control',
                },
                }) }}

        </div>        
        <div class="form-group">

            <label>  {{ form_label(form.emplacement) }}</label>
                        {{ form_errors(form.emplacement) }}
                        {{ form_widget(form.emplacement,{
                        'id' :'emplacement', 
'attr': {
                         'class' : 'form-control',
                },
                }) }}

        </div>
                <div class="form-group">

            <label>  {{ form_label(form.zone) }}</label>
                        {{ form_errors(form.zone) }}
                        {{ form_widget(form.zone,{
                        'id' :'zone', 
'attr': {
                         'class' : 'form-control',
                },
                }) }}

        </div>


                    <div class="form-group">
                       {{form_widget(form._token)}}
                        </div>
                        
    <input type="submit" id="gestion_passbundle_fluidite_submit" class="newEntry btn btn-primary row-fluid" >           
       </form>
</div>
    </div>
    </div>
    </div>
{% endblock %}
