{% extends '::base.html.twig' %}

{% block body -%}
    <h1>typeFacilitation</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Typefacilitation</th>
                <td>{{ entity.typeFacilitation }}</td>
            </tr>
            <tr>
                <th>Service</th>
                <td>{{ entity.service }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('typefacilitation') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('typefacilitation_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
