{% extends 'GestionPassBundle::layout.html.twig' %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block notification %}
   {{ parent() }}
{% endblock %}
{% block formulaire %}
        {{ render(controller('GestionPassBundle:Facilitation:new')) }}

{% endblock %}

{% block tables%}

<div class="table-responsive">
<table class="table table-bordered table-hover table-striped tablesorter">
    <thead>
        <tr>
            <th class="header">Facilitation <i class="fa fa-unsorted"></i></th>
            <th class="header">Service <i class="fa fa-unsorted"></i></th>
            <th class="header">Zone <i class="fa fa-unsorted"></i></th>
            <th class="header">Signalé à: <i class="fa fa-unsorted"></i></th>
            <th class="header">Signalé par: <i class="fa fa-unsorted"></i></th>
            <th  class="header">Suivi <i class="fa fa-unsorted"></i></th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.typeFacilitation }}</td>
                <td>{{ entity.service }}</td>
                <td>{{ entity.zone}} <br>{{ entity.emplacement}} </td> 
                
                <td>{% if entity.dateDetection %}{{ entity.dateDetection|date('Y-m-d H:i:s') }}{% endif %}</td>
                               <td>{{ entity.user}}</td> 

                <td>{% if entity.dateReglement %}
                <img src="{{ asset('bundles/gestionpass/images/icone_ok.png') }}" alt="suivi_ok" width="50" height="50" /></br>
                    <strong>Le</strong> {{ entity.dateReglement|date('Y-m-d') }}<br>
                    <strong>à</strong> : {{ entity.dateReglement|date('H:i:s') }} 
                                {% else %}
 <a href="{{ path('facilitation_regler', { 'id': entity.id }) }}">
 <img src="{{ asset('bundles/gestionpass/images/icone_ko.png') }}" alt="suivi_ok" width="50" height="50" /></a></br>
                            {% endif %} 
                    </td>
                            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
        
         {% if last_page > 1 %}
                                <div class="pagination">
                                    <ul class="pagination">
                                        <li><a href="{{ path('facilitation', { 'page': 1 }) }}"><span>First</span></a></li>
                                        <li><a href="{{ path('facilitation', { 'page': previous_page}) }}">&laquo;</a></li>
                                            {% for page in 1..last_page %} 
                                                {% if page == current_page %}
                                                <li class="active"><a href="{{ path('facilitation', { 'page': page }) }}" >{{ page }}</a></li>
                                                {% else %}                                   
                                                <li><a href="{{ path('facilitation', { 'page': page }) }}">{{ page }}</a></li>
                                                {% endif %}
                                            {% endfor %}
                                        <li><a href="{{ path('facilitation', { 'page': next_page }) }}"> &raquo; </a></li> 
                                        <li> <a href="{{ path('facilitation', { 'page': last_page }) }}"> <span> Last </span></a></li>
                                    </ul>
                                </div>
                     {% endif %}                                                              
                            <div class="pagination_desc"><strong>{{ total_anomalies }}</strong> acteurs dans la page
                                    {% if last_page > 1 %}
                                    - page <strong>{{ current_page }}/{{ last_page }}</strong> {% endif %}
                            </div>
    {% endblock %}