{% extends 'GestionPassBundle::layout.html.twig' %}

{% block body -%}
    <h1>Facilitation</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Facilitation</th>
                <td>{{ entity.TypeFacilitation }}</td>
            </tr>
            <tr>
            <th>Service concerné</th>
            <td>{{ entity.service }}</td>
        </tr>
        <tr>
            <th>Zone</th>
            <td>{{ entity.zone }}</td>
        </tr>
        <tr>
            <th>Emplacement</th>
            <td>{{ entity.emplacement }}</td>
        </tr>

        <tr>
            <th>Date de detection</th>
            <td> <strong>Le</strong> {{ entity.dateDetection|date('Y-m-d') }} <strong>à</strong>: {{ entity.dateDetection|date('H:i:s' ) }}</td>
        </tr>

            {%if entity.dateReglement != null %}
        <tr>
            <th>Datereglement</th>
            <td>
{{ entity.dateReglement|date('Y-m-d H:i:s') }}</td> 

    {% endif %}
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
<a href="{{ path('facilitation') }}" class="btn" >
                            <i class="icon-chevron-left icon-white"> </i>
                Back to the list
            </a>
    </li>

    <li>
        <a href="{{ path('facilitation_edit', { 'id': entity.id }) }}" class="btn btn-success">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
